@model Product

<div class="card" style="width: 15rem; height: 25rem;">
    <img class="card-img-top" src="@Model?.ImageUrl" alt="Cart image cap"
        style=" width: 80%; align-self: center;">
    <div class="card-body"
        style="flex: 1; display: flex; flex-direction: column; justify-content: space-between; padding: 1rem;">
        <div style="flex: 1;">
            <h5 class="card-title" style="margin-bottom: 0.5rem;">
                @Model?.Name
            </h5>
        </div>
        <div style="position: relative;">
            <span style="position: absolute; top: -2rem; right: 1rem; font-weight: bold; color: #333;">
                @Model?.Price.ToString("c")
            </span>

        </div>

        <div class="btn-group">
            <a class="btn btn-primary mx-1" asp-controller="Product" asp-action="Get" asp-route-id="@Model?.Id">
                <i class="fa-solid fa-arrow-right"></i>
                Details
            </a>
            <form id="@Model?.Id" asp-page="/Cart" asp-page-handler="Add" method="post">
                <input type="hidden" name="productId" asp-for="Id">
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fa fa-cart-plus"></i>
                    Add
                </button>
            </form>
        </div>
    </div>
</div>