@model Product;


<p>@Model.Name</p>
<p>@Model.Price</p>

<div class="btn-group">
    <a href="javascript:history.back()" class="btn btn-warning" aria-label="Go back">
        <i class="fa-solid fa-backward" aria-hidden="true"></i> Back
    </a>
</div>