@model List<Product>

@section Header {
    <div>
        Only for Product Home Page Header
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <partial name="_ProductCard" model="@item"/>
            </tr>
        }
    </tbody>
</table>

@section Footer {
    <div>
        Only for Product Home Page Footer
    </div>
}